<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>QuadQueryApp</display-name>

    <!-- RDFTripleServlet Configuration -->
    <servlet>
        <servlet-name>RDFTripleServlet</servlet-name>
        <servlet-class>foo.RDFTripleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RDFTripleServlet</servlet-name>
        <url-pattern>/processTurtle</url-pattern>
    </servlet-mapping>


    <!-- Wrap the backend with Endpoints Frameworks v2. -->
	<servlet>
		<servlet-name>EndpointsServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>foo.GraphQLController</param-value>
		</init-param>
	</servlet>
	<!-- Route API method requests to the backend. -->
	<servlet-mapping>
		<servlet-name>EndpointsServlet</servlet-name>
		<url-pattern>/_ah/api/*</url-pattern>
	</servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
